[submodule "OpenCL-CLHPP"]
	path = external/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP.git
	branch = master
[submodule "OpenCL-ICD-Loader"]
	path = external/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
	branch = master
[submodule "OpenCL-Headers"]
	path = external/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
	branch = master
[submodule "CImg"]
	path = external/CImg
	url = https://github.com/dtschump/CImg.git
	branch = master
